Repository intelliceed/prerender-nest, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, test, ci, workflow

feat/REDIS-Connect-redis
  .dockerignore
  .env
  .github/dependabot.yml
  Dockerfile
  docker-compose.yaml
  package-lock.json
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Labels: feature, ci, workflow

feat/PRERENDER-Connect-prerender - Add prerender
  Dockerfile
  README.md
  docker-compose.yaml
  package-lock.json
  package.json
  prerender/index.js
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.service.ts
  test/app.e2e-spec.ts
Labels: documentation, feature, test

feat/EDITORCONFIG-Editorconfig - Add editorconfig checker
  package-lock.json
  package.json
Labels: none

feat/EDITORCONFIG-Editorconfig - Remove tests - Fix editor config issues
  src/app.controller.spec.ts
  src/app.service.ts
Labels: feature

feat/NODE-Update-nodejs
  .nvmrc
  Dockerfile
  package.json
Labels: workflow

feat/NODE-Update-readme
  README.md
Labels: documentation

fix/NODE-Update-versions
  package-lock.json
  package.json
Labels: none

fix/API-Update-api
  .env
  README.md
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/prerender/prerender.controller.ts
  src/prerender/prerender.module.ts
  src/prerender/prerender.service.ts
Labels: documentation, feature, workflow

feat/SANITIZE-Sanitase-html
  .env
  Dockerfile
  README.md
  docker-compose.yaml
  package-lock.json
  package.json
  prerender/index.js
  src/prerender/prerender.controller.ts
  src/prerender/prerender.service.ts
  tsconfig.json
Labels: documentation, feature, workflow

feat/DOCKER-Update-flow
  .env
  Dockerfile
  docker-compose.yaml
  prerender/index.js
  src/prerender/prerender.module.ts
Labels: feature, workflow

Update .env
  .env
Labels: workflow

Update Dockerfile
  Dockerfile
Labels: none

Rewriting Dockerfile as a multi-stage build
  Dockerfile
Labels: none

feat/DOCKER-Update-flow
  .env
  Dockerfile
  docker-compose.yaml
  prerender/index.js
  src/prerender/prerender.module.ts
Labels: feature, workflow

feat/PRERENDER-Nested-app
  .env
  Dockerfile
  README.md
  docker-compose.yaml
  package-lock.json
  package.json
  prerender/.env
  prerender/.gitignore
  prerender/index.js
  prerender/package-lock.json
  prerender/package.json
  src/prerender/prerender.service.ts
Labels: documentation, feature, workflow

feat/PRERENDER-Connect-swagger-UI - Connect Swagger - Add health check - Add custom Health Check for Prerender
  package-lock.json
  package.json
  src/app.module.ts
  src/exceptions/validation.exception.ts
  src/main.ts
  src/pipes/validation.pipe.ts
  src/prerender/prerender.controller.ts
  src/prerender/prerender.heath.ts
  src/prerender/prerender.module.ts
  src/prerender/prerender.service.ts
  src/system/system.controller.spec.ts
  src/system/system.controller.ts
  src/system/system.module.ts
  src/system/system.service.spec.ts
  src/system/system.service.ts
  tsconfig.json
Labels: feature

feat/PRERENDER-Connect-swagger-UI -One Health
  src/system/system.controller.ts
  src/system/system.service.ts
Labels: feature

feat/PRERENDER-Connect-swagger-UI - One Health
  src/system/system.service.ts
Labels: feature

feat/PRERENDER-Connect-swagger-UI - Root queries /
  src/prerender/prerender.controller.ts
  src/system/system.controller.ts
Labels: feature

Some changes in Dockerfiles
  Dockerfile
  prerender/Dockerfile
Labels: none

docker-compose.yaml rewrite
  docker-compose.yaml
Labels: none

feat/TEST-Update-tests
  src/prerender/prerender.controller.spec.ts
  src/prerender/prerender.service.spec.ts
  src/system/system.controller.spec.ts
  src/system/system.module.ts
  src/system/system.service.spec.ts
Labels: feature

feat/DOCKERFILE-Update-docker
  Dockerfile
  docker-compose.yaml
  prerender/Dockerfile
Labels: none

feat/PROD-Update-scripts
  package.json
Labels: none

feat/PROD-Update-scripts
  package.json
Labels: none

Some changes
  Dockerfile
  docker-compose.yaml
Labels: none

feat/PROD-Remove-logging
  src/prerender/prerender.controller.ts
  src/prerender/prerender.service.ts
Labels: feature

.github/labeler.yml:

# Add 'documentation' label to any md file changes
documentation:
  - ./*.md
  - ./documentation/*.md

# Add 'feature' label to any change within the 'core' package
feature:
  - ./src/**/*

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.js
  - test/**/*
  - jest.config.json
  - jest-setup.ts

# Add 'ci' label to any change in .github
ci:
  - .github/**/*

# workflow
workflow:
  - ./.*
